<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                    [(ngModel)] = "listFilter">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='ships.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                (click)='toggleImage()'>
                                {{ showImage? 'Hide': 'Show'}} Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>IMO</th>
                        <th>Type</th>
                        <th>Owner</th>
                        <th>Contacts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ship of filteredShips'>
                        <td>
                            <img *ngIf='showImage'
                                  [src]='ship.imageUrl'
                                  [title]='ship.shipName'
                                  [style.width.px]='imageWidth'
                                  [style.margin.px]='imageWidth'>

                        </td>
                        <td>{{ ship.shipName }}</td>
                        <td>{{ ship.shipIMO | convertToSpaces: '-'}}</td>
                        <td>{{ ship.shipType }}</td>
                        <td>{{ ship.shipOwner }}</td>
                        <td>{{ ship.shipContacts }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>